<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228780373748-olmc0oo65o8gk974v1iqk9g10qlbt92j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228780373748-olmc0oo65o8gk974v1iqk9g10qlbt92j</string>
	<key>API_KEY</key>
	<string>AIzaSyAewx5BW0n197tbwOv0Yk7Sdem09VP2rvo</string>
	<key>GCM_SENDER_ID</key>
	<string>228780373748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memeois.yourcancelled</string>
	<key>PROJECT_ID</key>
	<string>your-cancelled</string>
	<key>STORAGE_BUCKET</key>
	<string>your-cancelled.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228780373748:ios:fb77d582babc787afe10a1</string>
	<key>DATABASE_URL</key>
	<string>https://your-cancelled.firebaseio.com</string>
</dict>
</plist>